    <script data-template-id="country-code">
      window.__cf_country = "US";
    </script>
    <script type="module">
      import { SitesRuntime } from "/_runtimes/sites-runtime.542ef8b971b159ea788637ae287720437fb4f9ac60e8add3c2be69cbc0c76d2a.js";
      const sitesRuntime = new SitesRuntime({
        container: document.getElementById("container"),
        env: "published",
        bundleId: "847eb79c-b06b-4a00-9ff2-6ae59855cd07",
        loadComponentsOverNetwork: true,
        assetsVersion: "v11",
        fontsVersion: "v1",
        videosVersion: "v1",
        codeComponentsVersion: "v2",
        withBaseStyles: false,
        reportingDomain: "https://www.figma.com",
        bundleCreationDate: "2026-05-25 19:07:53 UTC",
        isFigmake: true,
        enableMetaTags: false,
        renderOptions: {
          metronomeEnabled: false,
        },
      });
    </script>
